<?xml version="1.0"?>

<launch>
  <arg name="robot_name"                 default="r0"/>
  <arg name="cfg"                        default="default"/>
  <arg name="scan"                       default="laser0/scan"/>
  
  <group ns="$(arg robot_name)">
    <node pkg="tuw_safety_constraints" type="tuw_safety_constraints_node" name="tuw_safety_constraints_node" output="screen" >
      <remap from="scan" to="$(arg scan)"/>
      <rosparam command="load" file="$(find tuw_safety_constraints)/cfg/tuw_safety_constraints/$(arg cfg)/safety_constraints.yaml" />
    </node>
  </group>
</launch>
