<?xml version="1.0"?>

<launch>
  <arg name="robot_name" default="r0"/>
  <arg name="stop_buttons" default="stop_buttons.yaml"/>
  <arg name="base_constraints" default="base_constraints"/>
  <arg name="estimated_radius_displacement" default="/r0/estimated_radius_displacement"/>
  <arg name="scan" default="/r0/laser0/scan"/>
  <arg name="airskin_pressures" default="/r0/airskin_pressures"/>
  <arg name="path_following" default="true"/>
  
  <group ns="$(arg robot_name)">
    <node pkg="tuw_safety_constraints" type="tuw_safety_constraints_node" name="tuw_safety_constraints_node" output="screen" >
      <remap from="base_constraints" to="$(arg base_constraints)"/>
      <remap from="scan" to="$(arg scan)"/>
      <remap from="airskin_pressures" to="$(arg airskin_pressures)"/>
      <remap from="estimated_radius_displacement" to="$(arg estimated_radius_displacement)"/>
      <param name="path_following" value="$(arg path_following)"/>
      <rosparam command="load" file="$(find tuw_safety_constraints)/cfg/$(arg stop_buttons)" />
    </node>
  </group>
</launch>
